<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lichat</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="lichat.js"></script>
    <script type="text/x-template" id="self-menu">
      <nav class="submenu" v-on:click.stop="">
        <a class="status"
           v-on:click.stop="showStatus = true">
          <i class="fas fa-fw fa-comment-dots"></i> Set Status
        </a>
        <a class="identity"
           v-on:click.stop="showIdentitySwitcher = true">
          <i class="fas fa-fw fa-sign-out-alt"></i> Change Identity
        </a>
        <a class="info"
           v-on:click.stop="showInfo = true">
          <i class="fas fa-fw fa-info-circle"></i> View Info
        </a>
      </nav>
    </script>
    <script type="text/x-template" id="client-menu">
      <nav class="submenu" v-on:click.stop="">
        <client-configure
            v-bind:client="client"
            v-if="showConfigure"
            v-on:close="showConfigure = false;$emit('close')"></client-configure>
        <a class="config"
           v-on:click="showConfigure = true">
          <i class="fas fa-fw fa-cogs"></i> Settings
        </a>
        <a class="disconnect"
           v-on:click="client.closeConnection()"
           v-if="client.isConnected">
          <i class="fas fa-fw fa-handshake-slash"></i> Disconnect
        </a>
        <a class="connect"
           v-on:click="client.openConnection()"
           v-else>
          <i class="fas fa-fw fa-handshake"></i> Connect
        </a>
        <create-channel
            v-bind:client="client"
            v-if="showChannelCreate"
            v-on:close="showChannelCreate = false;$emit('close')"></create-channel>
        <a class="create"
           v-on:click="showChannelCreate = true">
          <i class="fas fa-fw fa-plus-circle"></i> New Channel
        </a>
      </nav>
    </script>
    <script type="text/x-template" id="message-menu">
      <nav class="submenu" v-on:click.stop="">
        <a class="copy"
           v-on:click="copy">
          <i class="fas fa-fw fa-clipboard"></i> Copy
        </a>
        <a class="kick"
           v-on:click="kick">
          <i class="fas fa-fw fa-sign-out-alt"></i> Kick
        </a>
        <a class="unquiet"
           v-if="message.author.isQuieted(message.channel)"
           v-on:click="unquiet">
          <i class="fas fa-fw fa-user"></i> Unquiet
        </a>
        <a class="quiet"
           v-else
           v-on:click="quiet">
          <i class="fas fa-fw fa-user-slash"></i> Quiet
        </a>
        <a class="info"
           v-on:click="showInfo = true">
          <i class="fas fa-fw fa-info-circle"></i> View Info
        </a>
      </nav>
    </script>
    <script type="text/x-template" id="channel-menu">
      <nav class="submenu" v-on:click.stop="">
        <a class="invite"
           v-on:click.stop="showInvite = true">
          <i class="fas fa-fw fa-user-plus"></i> Invite
        </a>
        <create-channel
            v-bind:client="channel.client"
            v-bind:channel="channel"
            v-if="showChannelCreate"
            v-on:close="showChannelCreate = false;$emit('close')"></create-channel>
        <a class="create"
           v-on:click.stop="showChannelCreate = true">
          <i class="fas fa-fw fa-plus-circle"></i> Create Subchannel
        </a>
        <a class="channels"
           v-on:click.stop="showChannelList = true">
          <i class="fas fa-fw fa-list"></i> List Subchannels
        </a>
        <list-users
            v-bind:channel="channel"
            v-if="showUserList"
            v-on:close="showUserList = false;$emit('close')"></list-users>
        <a class="users"
           v-on:click.stop="showUserList = true">
          <i class="fas fa-fw fa-users"></i> List Users
        </a>
        <a class="pause"
           v-on:click.stop="showPause = true">
          <i class="fas fa-fw fa-stopwatch"></i> Slow Mode
        </a>
        <a class="permissions"
           v-on:click.stop="showPermissions = true">
          <i class="fas fa-fw fa-gavel"></i> Permissions
        </a>
        <a class="info"
           v-on:click.stop="showInfo = true">
          <i class="fas fa-fw fa-info-circle"></i> View Info
        </a>
      </nav>
    </script>
    <script type="text/x-template" id="user-menu">
      <transition name="roll">
        <nav class="submenu" v-on:click.stop="">
          <a class="whisper"
             v-on:click="whisper">
            <i class="fas fa-fw fa-people-arrows"></i> Whisper
          </a>
          <a class="invite"
             v-on:click.stop="showInvite = true">
            <i class="fas fa-fw fa-user-plus"></i> Invite
          </a>
          <a class="unblock"
             v-if="user.isBlocked"
             v-on:click="unblock">
            <i class="fas fa-fw fa-user-check"></i> Unblock
          </a>
          <a class="block"
             v-else
             v-on:click="block">
            <i class="fas fa-fw fa-user-times"></i> Block
          </a>
          <a class="unban"
             v-if="user.isBanned"
             v-on:click="unban">
            <i class="fas fa-fw fa-user-alt"></i> Unban
          </a>
          <a class="ban"
             v-else
             v-on:click="ban">
            <i class="fas fa-fw fa-user-alt-slash"></i> Ban
          </a>
          <a class="info"
             v-on:click="showInfo = true">
            <i class="fas fa-fw fa-info-circle"></i> View Info
          </a>
        </nav>
      </transition>
    </script>
    <script type="text/x-template" id="emote-picker">
      <div class="emote-picker" v-bind:class="classes" v-on:click.stop="">
        <nav>
          <a class="emoji" v-on:click="tab = 'emoji'">
            <i class="fas fa-grin"></i>
          </a>
          <a class="emotes" v-on:click="tab = 'emotes'">
            <i class="fas fa-icons"></i>
          </a>
          <a class="back" v-on:click="$emit('close')">
            <i class="fas fa-times-circle"></i>
          </a>
        </nav>
        <ul class="emoji" v-show="tab == 'emoji'" ref="emoji">
          <li v-for="(names, emoji) in allEmoji" v-bind:title="names.join(', ')">
            <a class="emoji" v-on:click="$emit('close', emoji)">{{ emoji }}</a>
          </li>
        </ul>
        <ul class="emotes" v-show="tab == 'emotes'" ref="emotes">
          <li v-for="emote in channel.getEmoteList()" v-bind:title="emote">
            <a class="emote" v-on:click="$emit('close', emote)">
              <img v-bind:src="channel.getEmote(emote)" />
            </a>
          </li>
        </ul>
        <input type="text" placeholder="Filter..." ref="input"
               v-on:input="filter">
      </div>
    </script>
    <script type="text/x-template" id="client-configure">
      <transition name="modal">
        <div class="popup-container" v-on:click.self.stop="close">
          <div class="popup">
            <header>
              <h2>Configure Client</h2>
              <div class="error-message" v-if="errorMessage">{{errorMessage}}</div>
            </header>
            <section>
              <div class="row">
                <label>Name</label>
                <input type="text" name="name" required v-model="client.name">
              </div>
              <div class="row">
                <label>Username</label>
                <input type="text" name="username" maxlength="32" required 
                       v-model="client.username"
                       v-bind:readonly="client.isConnected">
              </div>
              <div class="row">
                <label>Password</label>
                <input type="password" name="password" required
                       v-model="client.password"
                       v-bind:readonly="client.isConnected">
              </div>
              <div class="row">
                <label title="Separated via two spaces">Aliases</label>
                <input type="text" name="aliases" required v-model="$data.aliases">
              </div>
              <div class="row">
                <label>Hostname</label>
                <input type="text" name="hostname" required
                       v-model="client.hostname"
                       v-bind:readonly="client.isConnected">
              </div>
              <div class="row">
                <label>Port</label>
                <input type="number" name="port" required
                       v-model="client.port"
                       v-bind:readonly="client.isConnected">
              </div>
              <div class="row">
                <label>SSL</label>
                <input type="checkbox" name="ssl"
                       v-model="client.ssl"
                       v-bind:readonly="client.isConnected">
              </div>
              <input type="button" value="Save" v-if="client._reader" v-on:click="close">
              <input type="button" value="Delete" v-if="client._reader" v-on:click="remove">
              <input type="button" value="Create" v-else v-on:click.stop="create">
            </section>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/x-template" id="ui-configure">
      <transition name="modal">
        <div class="popup-container" v-on:click.self.stop="close">
          <div class="popup">
            <header>
              <h2>Global Settings</h2>
              <div class="error-message" v-if="errorMessage">{{errorMessage}}</div>
            </header>
            <section>
              <div class="row">
                <label for="font">Font</label>
                <input type="text" id="font" list="fonts" ref="input"
                       v-model="options.font">
                <datalist id="fonts">
                  <option v-for="font in fonts" v-bind:value="font"></option>
                </datalist>
              </div>
              <div class="row">
                <label for="font-size">Font Size</label>
                <input type="number" id="font-size" min="1" max="32"
                       v-model="options.fontSize">
              </div>
              <div class="row">
                <label for="notification-level">Default Notify Level</label>
                <select id="notification-level"
                        v-model="options.notificationLevel">
                  <option value="all">All messages</option>
                  <option value="mention">Only mentions</option>
                  <option value="none">None</option>
                </select>
              </div>
              <div class="row">
                <label for="show-notifications">Show Notification Popups</label>
                <input type="checkbox" id="show-notifications"
                       v-model="options.showNotifications">
                <input type="button" value="Grant Permission"
                       v-if="!havePermission"
                       v-on:click="requestPermission">
              </div>
              <div class="row">
                <label for="play-sound">Play Notification Sound</label>
                <input type="checkbox" id="play-sound"
                       v-model="options.playSound">
              </div>
              <div class="row">
                <label for="transmit-typing">Show Typing Status</label>
                <input type="checkbox" id="transmit-typing"
                       v-model="options.transmitTyping">
              </div>
              <input type="button" value="Save" v-on:click="close">
            </section>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/x-template" id="create-channel">
      <transition name="modal">
        <div class="popup-container" v-on:click.self.stop="$emit('close')">
          <div class="popup">
            <header>
              <h2>Create Channel</h2>
              <div class="error-message" v-if="errorMessage">{{errorMessage}}</div>
            </header>
            <section>
              <div class="row">
                <label>Channel name</label>
                <input type="text" name="channelname" maxlength="32" required ref="input"
                       v-model="name"
                       v-bind:readonly="anonymous">
              </div>
              <div class="row" v-if="channel == null">
                <label>Anonymous</label>
                <input type="checkbox" name="ssl"
                       v-model="anonymous">
              </div>
              <input type="button" value="Create" v-on:click="create">
              <input type="button" value="Cancel" v-on:click="$emit('close')">
            </section>
          </div>
        </div>
      </transition>  
    </script>
    <script type="text/x-template" id="list-users">
      <transition name="modal">
        <div class="popup-container" v-on:click.self.stop="$emit('close')">
          <div class="popup">
            <header>
              <h2>Users in {{channel.name}}</h2>
              <div class="error-message" v-if="errorMessage">{{errorMessage}}</div>
            </header>
            <section>
              <ul class="userlist">
                <li v-for="user in userList">
                  <img class="icon" v-bind:src="user.icon">
                  <span class="name"
                        v-bind:style="{color: user.color}"
                        v-bind:title="user.name">{{user.name}}</span>
                  <nav>
                    <user-menu v-if="userMenu == user"
                               v-on:close="userMenu = null"
                               v-bind:user="user"></user-menu>
                    <a class="settings"
                       v-on:click.stop="userMenu = user">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                  </nav>
                </li>
              </ul>
              <input type="text" placeholder="Filter..." v-on:input="filter" ref="input">
              <input type="button" value="Close" v-on:click="$emit('close')">
            </section>
          </div>
        </div>
      </transition>
    </script>
    <script type="text/x-template" id="message">
      <div class="message"
           v-bind:class="[{alert: message.isAlert, system: message.isSystem, bridged: message.isBridged}, message.type]"
           v-bind:id="message.gid">
        <header>
          <time v-bind:title="message.date">{{message.time}}</time>
          <img class="icon" v-bind:src="message.author.icon">
          <user-menu v-if="showUserMenu"
                     v-on:close="showUserMenu = false"
                     v-bind:user="message.author"></user-menu>
          <span class="name"
                v-on:click.stop="showUserMenu = true"
                v-bind:style="{color: message.author.color}"
                v-bind:title="message.author.name"
                v-bind:class="{me: message.author == message.channel.client.user}">{{message.from}}</span>
        </header>
        <a class="reply-to" v-if="message.replyTo" v-bind:href="message.replyTo.url">
          <span class="name" v-bind:class="{me: message.replyTo.author == message.channel.client.user}">{{message.replyTo.author.name}}</span>
          <p>{{message.replyTo.shortText}}</p>
        </a>
        <div class="content">
          <img v-if="message.isImage" v-bind:src="message.text">
          <video controls v-else-if="message.isVideo">
            <source v-bind:src="message.text" v-bind:type="message.contentType">
          </video>
          <audio controls v-else-if="message.isAudio">
            <source v-bind:src="message.text" v-bind:type="message.contentType">
          </audio>
          <textarea v-else-if="editText !== null"
                    v-model="editText" ref="input"
                    v-on:input="$event.target.style.minHeight = $event.target.scrollHeight+'px';"
                    v-on:keydown.enter.prevent.stop="edit"
                    v-on:keydown.esc.prevent.stop="editText = null"></textarea>
          <p v-else v-html="message.html"></p>
          <div class="reactions">
            <a class="reaction"
               v-for="reaction in message.reactions" 
               v-bind:title="reaction.description"
               v-on:click="react(reaction.text)">
              <img v-if="reaction.image" v-bind:src="reaction.image">
              <i v-else>{{reaction.text}}</i>
              <span>{{reaction.count}}</span>
            </a>
          </div>
        </div>
        <nav>
          <a class="edit"
             v-if="message.author.isSelf && message.type == 'message' && message.channel.client.isAvailable('shirakumo-edit')">
            <i class="fas fa-edit"></i>
          </a>
          <a class="reply"
             v-if="!message.isVirtual && message.channel.client.isAvailable('shirakumo-replies')"
             v-on:click="replyTo">
            <i class="fas fa-reply"></i>
          </a>
          <emote-picker
              v-bind:channel="message.channel"
              v-bind:classes="['small']"
              v-if="emotePicker"
              v-on:close="react"></emote-picker>
          <a class="react"
             v-if="!message.isVirtual && message.channel.client.isAvailable('shirakumo-reactions')"
             v-on:click.stop="emotePicker = true">
            <i class="fas fa-surprise"></i>
          </a>
          <message-menu v-if="showSettings"
                        v-on:close="showSettings = false"
                        v-bind:message="message"></message-menu>
          <a class="settings"
             v-if="!message.isVirtual"
             v-on:click.stop="showSettings = true">
            <i class="fas fa-ellipsis-h"></i>
          </a>
        </nav>
      </div>
    </script>
  </head>
  <body>
    <div class="client">
      <div class="side" v-bind:style="{width: options.sidebarWidth, minWidth: options.sidebarWidth, maxWidth: options.sidebarWidth}">
        <nav v-show="0 < clients.length">
          <section class="server" v-for="client in clients">
            <header v-bind:class.connected="client.isConnected">
              <img class="icon" v-bind:src="client.icon">
              <span class="name">{{client.name || client.servername}}</span>
              <nav>
                <client-menu v-if="client.showMenu"
                             v-on:close="client.showMenu = false"
                             v-bind:client="client"></client-menu>
                <a class="menu"
                   v-on:click.stop="client.showMenu = true">
                  <i class="fas fa-ellipsis-h"></i>
                </a>
              </nav>
            </header>
            <ul class="channels">
              <li class="channel"
                  v-for="channel in client.channelList"
                  v-bind:class="{current: channel == currentChannel, update: 0 < channel.unread, alert: channel.alerted, primary: channel.isPrimary}"
                  v-on:click="switchChannel(channel)">
                <header>
                  <img class="icon" v-bind:src="channel.icon">
                  <span class="name">{{channel.name}}</span>
                </header>
                <div class="unread-count"
                     v-if="0 < channel.unread"
                     v-on:click="channel.unread = 0; channel.alerted = false">
                  {{channel.unread}}
                </div>
              </li>
            </ul>
          </section>
        </nav>
        <footer>
          <ui-configure
              v-bind:options="options"
              v-if="showSettings"
              v-on:close="showSettings = false"></ui-configure>
          <client-configure
              v-bind:client="$data.defaultClient"
              v-if="showClientMenu"
              v-on:close="showClientMenu = false"></client-configure>
          <nav>
            <a class="create" title="Add client"
               v-on:click.stop="showClientMenu = true">
              <i class="fas fa-plus-circle"></i>
            </a>
            <a title="Settings"
               v-on:click.stop="showSettings = true">
              <i class="fas fa-cogs"></i>
            </a>
          </nav>
        </footer>
      </div>
      <divider></divider>
      <main v-if="currentChannel" v-on:drop.capture="uploadFile">
        <header>
          <img class="icon" v-bind:src="currentChannel.icon">
          <span class="name">{{currentChannel.name}}</span>
          <span class="topic">{{currentChannel.topic}}</span>
          <nav>
            <input type="text" placeholder="from:user something" ref="search"
                   v-model="search"
                   v-if="search !== null"
                   v-on:keydown.enter.prevent.stop="performSearch">
            <a class="search"
               v-if="currentChannel.client.isAvailable('shirakumo-search')"
               v-on:click="toggleSearch">
              <i class="fas fa-search"></i>
            </a>
            <channel-menu v-if="showChannelMenu"
                          v-on:close="showChannelMenu = false"
                          v-bind:channel="currentChannel"></channel-menu>
            <a class="settings" v-on:click.stop="showChannelMenu = true">
              <i class="fas fa-ellipsis-h"></i>
            </a>
          </nav>
        </header>
        <section class="output" ref="output"
                 v-bind:style="{fontFamily: options.font, fontSize: options.fontSize+'pt'}">
          <message v-for="message in currentChannel.messageList"
                   v-bind:message="message"
                   v-bind:key="message.gid"></message>
        </section>
        <footer v-if="currentChannel.isPresent">
          <div class="user me">
            <self-menu v-bind:client="currentChannel.client"
                       v-if="showSelfMenu"
                       v-on:close="showSelfMenu = false"></self-menu>
            <img class="icon"
                 v-bind:src="currentChannel.client.user.icon"
                 v-on:click.stop="showSelfMenu = true">
          </div>
          <div class="content">
            <a class="reply-to" v-if="currentChannel.currentMessage.replyTo" v-on:click="currentChannel.currentMessage.replyTo = null">
              <span class="name" v-bind:class="{me: currentChannel.currentMessage.replyTo.author == currentChannel.client.user}">{{currentChannel.currentMessage.replyTo.author.name}}</span>
              <p>{{currentChannel.currentMessage.replyTo.shortText}}</p>
            </a>
            <textarea placeholder="Write something..." autofocus ref="input"
                      v-model="currentChannel.currentMessage.text"
                      v-on:input="$event.target.style.minHeight = $event.target.scrollHeight+'px';"
                      v-on:keydown="handleKeypress"
                      v-on:keydown.enter.prevent.stop="submit"></textarea>
          </div>
          <nav>
            <emote-picker
                v-bind:channel="currentChannel"
                v-bind:classes="['big']"
                v-if="showEmotePicker"
                v-on:close="addEmote"></emote-picker>
            <a class="emote" v-on:click.stop="showEmotePicker = !showEmotePicker">
              <i class="fas fa-smile"></i>
            </a>
            <input type="file" accept=".png,.jpg,.jpeg,.gif,.mp4,.webm,.mp3,.ogg" id="fileChooser" style="display:none" v-on:change="uploadFile">
            <a class="upload" v-on:click="uploadFile">
              <i class="fas fa-paperclip"></i>
            </a>
          </nav>
        </footer>
      </main>
      <main v-else>
      </main>
    </div>
    <script>var lichat = new LichatUI();</script>
  </body>
</html>
